<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>
    <h1>Here is your list of tasks:</h1>
    <ul>
      @foreach (var task in Model) {
        <li>@task.GetDescription()</li>
      }
    </ul>
    <a href="/tasks/new">Add new task</a>
    <form action="/tasks/clear" method="post">
      <button type="submit">Clear all tasks</button>
    </form>
    <a href="/">Return home</a>
  </body>
</html>
